/* Center h1 headers and assign color. */
h1 {
    letter-spacing: 3px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
  }

  main {
      text-align: center;
  }

  ol {
      text-align: left;
  }

  img {
      width: 100%;
  }

@media all and (min-width: 600px) {
    img {
        width: 30%;
    }
}